# Node modules (Angular)
frontend/node_modules/
frontend/dist/

# Angular environment files
frontend/src/environments/*.ts

# .NET build files
backend/bin/
backend/obj/
backend/*.user
backend/*.suo
backend/backend/Data

# Visual Studio files
.vscode/
*.vs/

# OS files
.DS_Store
Thumbs.db

appsettings.Development.json
appsettings.json
*.secrets.json
