<div class="checkout-container">

  <!-- LEFT -->
  <div>

    <div class="steps">
      <span [class.active]="step === 1">Delivery</span>
      <span [class.active]="step === 2">Payment</span>
      <span [class.active]="step === 3">Review</span>
    </div>

    <!-- STEP 1 -->
    <div *ngIf="step === 1" class="card">

      <h2>Select Address</h2>

      <div *ngFor="let addr of addresses"
           class="address-card"
           [class.selected]="selectedAddressId === addr.Id"
           (click)="selectAddress(addr.Id)">
        <strong>{{addr.FullName}}</strong>
        <p>{{addr.Country}}</p>
        <small>{{addr.City}}</small>
      </div>

      <h3>Add New Address</h3>

      <form [formGroup]="addressForm">
        <input placeholder="Full Name" formControlName="fullName">
        <input placeholder="Address" formControlName="address">
        <input placeholder="City" formControlName="city">
        <input placeholder="Postal Code" formControlName="postalCode">

        <button class="secondary" type="button" (click)="addNewAddress()">
          Add Address
        </button>
      </form>

      <button class="primary"
              (click)="nextStep()"
              [disabled]="!selectedAddressId">
        Continue
      </button>
    </div>

    <!-- STEP 2 -->
    <div *ngIf="step === 2" class="card">

      <h2>Payment</h2>

      <div class="payment-options">
        <label>
          <input type="radio" value="card" formControlName="method">
          <span>Card</span>
        </label>

        <label>
          <input type="radio" value="eft" formControlName="method">
          <span>EFT</span>
        </label>
      </div>

      <div *ngIf="paymentForm.value.method === 'card'">
        <input placeholder="Card Number" formControlName="cardNumber">
        <input placeholder="CVV" formControlName="cvv">
      </div>

      <div *ngIf="paymentForm.value.method === 'eft'">
        <input placeholder="Bank Name" formControlName="bankName">
        <input placeholder="Account Number" formControlName="accountNumber">
      </div>

      <button class="secondary" (click)="prevStep()">Back</button>
      <button class="primary" (click)="nextStep()">Review</button>
    </div>

    <!-- STEP 3 -->
    <div *ngIf="step === 3" class="card">
      <h2>Review</h2>

      <p>Address ID: {{selectedAddressId}}</p>
      <p>Payment: {{paymentForm.value.method}}</p>

      <button class="secondary" (click)="prevStep()">Back</button>
      <button class="primary" (click)="placeOrder()">Place Order</button>
    </div>

  </div>

  <!-- RIGHT SUMMARY -->
  <div class="summary card">
    <h3>Order Summary</h3>

    <div class="summary-item" *ngFor="let item of cartItems">
      <span>{{item.name}} x{{item.quantity}}</span>
      <span>R {{item.price * item.quantity}}</span>
    </div>

    <div class="total">
      Total: R {{total}}
    </div>
  </div>

</div>