<div class="toolbar" role="banner">
  <a routerLink="/" class="toolbar-title">Gym Equipment Store</a>

  <a *ngFor="let item of navItems" [routerLink]="item.route" [ngClass]="item.className" class="nav-item">
    {{ item.label }}
  </a>

  <input type="text" class="search-container" placeholder="Search..." />
  <div class="nav-item profile-dropdown">
      <a class="nav-link" (click)="toggleDropdown()" href="javascript:void(0)">

        <div class="photo">
          <img alt="Profile Photo" src="assets/images/anime3.png" />
        </div>

        <b class="caret d-none d-lg-block d-xl-block"></b>
        <p class="d-lg-none">Menu</p>
      </a>

      <ul class="dropdown-navbar" *ngIf="dropdownOpen">

        <li class="nav-link">
          <a class="nav-item" href="javascript:void(0)">
            Profile
          </a>
        </li>

        <li class="nav-link">
          <a class="nav-item" href="javascript:void(0)">
            Settings
          </a>
        </li>

        <li class="dropdown-divider"></li>

        <li class="nav-link">
          <a class="nav-item" (click)="logout()">
            Log out
          </a>
        </li>

      </ul>
  </div>
<div class="header-separator">
</div>